<launch>
    <arg name="joy_device" default="/dev/input/js0"/>
    <arg name="repeat_rate" default="40.0"/>

    <node pkg="joy" type="joy_node" name="ros_joy" respawn="true" respawn_delay="1">
        <param name="dev" value="$(arg joy_device)"/>
        <param name="autorepeat_rate" value="$(arg repeat_rate)"/>
    </node>

    <node pkg="mercury_joy" type="joy-node.py" name="mercury_joy">
        <param name="mercury_publish_rate" value="$(arg repeat_rate)"/>
    </node>
    <node pkg="xbox_controller" type="controller" name="xbox_rumble_controller">
        <param name="service_name" value="/mercury/joy/rumble"/>
    </node>
</launch>